* {
  margin: 0;
  box-sizing: border-box;
}

img,
video {
  vertical-align: middle;
  width: 100%;
  height: auto;
  display: block;
}

h2 {
  font-family: fantasy;
  font-size: 2rem;
  color: black;
  margin: 1rem;
}

p {
  font-family: monospace;
  font-size: 1rem;
  color: black;
  margin: 1rem;
}
