* {
  margin: 0;
  box-sizing: border-box;
}

img,
video {
  vertical-align: middle;
  width: 100%;
  height: auto;
  display: block;
}

header {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  background-color: black;
  opacity: 80%;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
}
a {
  color: white;
  text-decoration: none;
  font-family: gothic-open-shaded, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
a:hover {
  color: darkslategray;
}

h2 {
  font-family: fantasy;
  font-size: 2rem;
  color: black;
  margin: 1rem;
}

p {
  font-family: monospace;
  font-size: 1rem;
  color: black;
  margin: 1rem;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  color: #4a3528;
  padding: 10px;
  grid-column: 1 / 3;
  grid-row: 3;
}

address {
  padding: 1rem;
}

#section1 {
  display: grid;
  grid-column: 1 / 4;
  width: 100%;
  height: 100vh;
  background-image: url(images/toerrer.webp);
  background-size: cover;
  background-position: 30%;
}

#section1 .section_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.front_text {
  font-family: monospace;
  font-size: 1rem;
  color: white;
  padding: 10px;
  grid-column: 1 / 3;
  grid-row: 5;
}

video {
  padding: 1rem;
}

.citat {
  text-align: center;
}

#section3 img {
  padding: 1rem;
}

#section4 .section_wrapper {
  display: grid;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin: 1rem;
}

.gallery img {
  height: 100%;
  object-fit: cover;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  padding: 1rem;
}

@media (min-width: 770px) {
  #section3 .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr, 2fr;
    gap: 15px;
  }
  #section3 .section_wrapper img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 /3;
  }
  #section3 .section_wrapper h1 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1;
  }
  #section3 .section_wrapper p {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2;
  }
  h1 {
    font-size: 3rem;
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .front_text {
    font-size: 1.5rem;
    grid-column: 1 / 3;
    grid-row: 3;
  }
}
