* {
  margin: 0;
  box-sizing: border-box;
}

main,
footer {
  background-color: #c19a6b;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  background-color: black;
  opacity: 80%;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 250px;
}
a {
  color: aliceblue;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
a:hover {
  color: bisque;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 10px;
  text-align: center;
  color: #5d432c;
  margin: 1rem;
}

p {
  font-family: monospace;
  font-size: 1rem;
  color: aliceblue;
  margin: 1rem;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  letter-spacing: 15px;
  font-size: 2.5rem;
  color: #5d432c;
  padding: 10px;
  grid-column: 1 / 3;
  grid-row: 3;
}

address {
  padding: 1rem;
  color: aliceblue;
}

#section_one {
  display: grid;
  grid-column: 1 / 4;
  width: 100%;
  height: 100vh;
  background-image: url(images/toerrer.webp);
  background-size: cover;
  background-position: 30%;
}

#section_one .section_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.front_text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 2.7px;
  font-size: 1rem;
  color: bisque;
  padding: 10px;
  grid-column: 1 / 3;
  grid-row: 5;
}

video {
  padding: 1rem;
}

.citat {
  text-align: center;
}

#section_three img {
  padding: 1rem;
}

#section_four .section_wrapper {
  display: grid;
}

.image1,
.image2,
.image3,
.image4 {
  border: #5d432c 2px solid;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin: 1rem;
}

.gallery img {
  height: 100%;
  object-fit: cover;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  padding: 1rem;
}

@media (min-width: 770px) {
  #section_three .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr, 2fr;
    gap: 15px;
  }
  #section_three .section_wrapper img {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 /3;
  }
  #section_three .section_wrapper h1 {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1;
  }
  #section_three .section_wrapper p {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2;
  }

  h1 {
    font-size: 2.3rem;
    grid-column: 2 / 4;
    grid-row: 2;
  }
  .front_text {
    font-size: 1.4rem;
    grid-column: 3 / 5;
    grid-row: 3;
    margin-left: 20px;
  }
}
